<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>appearanceAware</key>
  <true/>
  <key>assets</key>
  <dict>
    <key>lockAndHome</key>
    <dict>
      <key>default</key>
      <dict>
        <key>assetFileName</key>
        <string>wallpaper.ca</string>
        <key>name</key>
        <string>Morrow</string>
        <key>type</key>
        <string>ParameterizedCA</string>
      </dict>
    </dict>
  </dict>
  <key>contentVersion</key>
  <real>2.01</real>
  <key>family</key>
  <string>Marble</string>
  <key>identifier</key>
  <integer>99001</integer>
  <key>logicalScreenClass</key>
  <string>any</string>
  <key>name</key>
  <string>Morrow</string>
  <key>preferredProminentColor</key>
  <dict>
    <key>default</key>
    <string>#FFFFFF</string>
  </dict>
  <key>preferredTitleColor</key>
  <string>#FFFFFF</string>
  <key>version</key>
  <integer>1</integer>
</dict>
</plist>
